# Data
data/
raw_data/
derivatives/
outputs/
*.parquet
*.c3d
*.csv

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
.DS_Store

# Notebooks checkpoints
.ipynb_checkpoints/

# Large/generated artifacts
*.zip
*.tar.gz
